.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.margin0 {
  margin: 0;
}

.editor-list-ul {
  margin: 0;
}
.editor-list-ol {
  margin: 0;
}

.editor-paragraph {
  color:red;
}




.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-code {
  background-color: #f0f2f5;
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.text-highlight {
  /*margin: 0 5px;*/
  margin:0;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-subscript {
  vertical-align: sub;
}

.text-superscript {
  vertical-align: super;
}

p {
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.bannerGraph{
  background-color: skyblue;
  padding-left: 4px;
  padding-right: 4px;
  border-left-color: orange;
  border-left-width: 6px;
  border-left-style: solid;
  margin: 8px;
  border-radius: 8px;
}

.mentionTheme{
  background-color: aquamarine;
}



.mention{
  background-color:darksalmon
}

.mention2{
  background-color:brown

}

.mention3{
  background-color: mediumslateblue

}

.pannel{
  background-color: lightgray;

}

.pannel:focus{
  background-color: #61dafb;
}

.tabname{
  background-color: gainsboro;
  cursor: context-menu
}

.tabname:hover{
  background-color:cornflowerblue;
}

.mantionNode{
  background-color: lightgreen;
}